.app-map-annotations{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .app-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0.25;
    .app-search{
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #7ca7a7;
      width: 100%;

      input{
        flex: 0.9;
        height: 23px;
        width: 64%;
        margin-top: 17px;
      }

    }
    .app-action-buttons{
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      background-color: #866277;
      margin: 0px;
    }
  }
  .app-map{
    flex: 0.75;
  }

  button, .app-action-buttons>input {
    height:50px;
    width:100px;
    border: none;
    background: #404040;
    color: #ffffff;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    margin: 5px;
  }

  .app-annotation-list{

    width: 100%;
    height: 100%;
    background-color: #7ca7a7;
    list-style: none;

    ul{
      overflow-y: scroll;
      max-height: 350px;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0;

      li{
        font-size: 20px;
        margin-top: 5px;
        background-color: #4a325a;
        width: 100%;
        flex: 1;
        color: #ffffff;
        text-align: center;

        &.chosen-route{
          background-color: #dc46d0;
        }
      }
    }
  }
}
